@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');


body{ 
	text-align: center;
	color: white;
	background-color: #2D2F49;
}
h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 85px;
	text-align: left;
	margin: 20px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
	text-align: left;
	margin: 25px;
	padding-top: 1px;
	color: white;

}

article{
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
	text-align: left;
	padding-top: 1px;
	color: white;
}

nav {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
	text-align: left;
	margin: 25px;
	padding-top: 1px;
	color: white;
}

li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	text-align: left;
    list-style-position: left;
    line-height: 1.5em;
    list-style-type: square;
}

#two_column {
	text-align: left;
}

#left {
	float: left;
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;

}

#right {
	float: right;
    width: 60%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a:link{ 
	color: white;
	font-size: 15px
}

a:hover{
	color: hotpink
	text-decoration: none;
}
