@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

body{ 
	text-align: center;
	color: white;
	background-image: url("../images/background.jpg");
	background-size: cover;
}
h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 85px;
	text-align: left;
	margin: 20px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
	text-align: left;
	margin: 25px;
	padding-top: 1px;
	color: white;

}
li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	text-align: left;
    list-style-position: left;
    line-height: 1.5em;
    list-style-type: square;
}
a{ 
	font-family: 'Source Sans Pro', sans-serif
	color: white;
	 }

a:hover, a:active {
