body{ 
	text-align: center;
	color: white;
	background-image: url("../images/worldmap.png");
	background-size: cover;
}
h1{
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: bolder;
}
p{
    font-family: Arial, sans-serif;
}
li{
	font-family: Arial, sans-serif;
	text-align: center;
    list-style-type: none;
}
a{
	color: white
}